*.cmi
*.cmti
*.conflicts
/src/_build/*
*.o
*.info
*.objdump
*.annot
*.cmt
*.dir-locals.el
/.projectile
*.piqi
*.dba
*.dot
*.opc
*.trace
*.cmo
**/#*
**/.#*
autom4te*
/src/test_runner
/src/oUnit-*.log
/src/oUnit-*.cache
/src/parser/lexer_infos.ml
/src/parser/parser.ml
/src/parser/parser.mli
/src/parser/parser_infos.ml
/src/parser/parser_infos.mli
/src/parser/policy_parser.ml
/src/parser/policy_parser.mli
/src/parser/policy_token.ml
*.cmx
/tests/simulation/test_runner
/src/smtutils/smtlib_lexer.ml
/src/smtutils/smtlib_parser.ml
/src/smtutils/smtlib_parser.mli
/config.status
/config.log
*.pb.cc
*.pb.h
/Config.mk
cfg_dba.pdf
cfg_opcode.pdf
/configure
/.depend
apiref
/www/htdocs/distrib/binsec.tgz
plateforme/*.tgz
/src/binsec.docdir
/pinsec/build/
/src/config.ml
/src/binsec*
/src/piqi
/src/.depend
/src/main.native
/src/parser/SMTLexerWp.ml
/src/parser/SMTParserWp.ml
/src/parser/SMTParserWp.mli
/src/parser/dbacsl_parser.ml
/src/parser/dbacsl_parser.mli
/src/parser/dbacsl_token.ml
/src/parser/lexer.ml
/src/smtlib/smtlib_lexer.ml
/src/smtlib/smtlib_parser.ml
/src/smtlib/smtlib_parser.mli
/_build/
/_opam/

# Vim
.*.swp

# Emacs
**/**~

# macOS
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/src/kernel/config.ml
/src/kernel/config.mli
